/* ################## global ##################### */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #DCDCDC;
}

.main {
  background: url('img/beautyBg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

h1 {
  font-size: 1.6em;
  margin: 0 auto;
  margin-top: 35%;
}

h3 {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 2%;
  color: rgba(221, 0, 55, 0.8);
  text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.8);
}

.text-style {
  color: #fff;
  text-shadow: 5px 5px 7px rgba(221, 0, 55, 0.8);
}

button {
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(221, 0, 55, 0.8);
  color: #fff;
}

button:hover {
  background-color: #fff;
  color: rgba(221, 0, 55, 0.8);
  border: solid 2px rgba(221, 0, 55, 0.8);
}

/* ############# Styles for about page ####### */
.main-about, .about-text, .side-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

.about-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-title {
  font-size: 50px;
  margin-top: 3%;
  margin-bottom: 5%;
}

.about-text {
  line-height: 1.5em;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(29, 185, 29, 1), rgba(29, 185, 29, 0.1))
}

.hr {
  margin: 0 auto;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.side {
  margin: 0 auto;
  text-align: center;
}

.side-title {
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #000;
  text-shadow: none;
  font-weight: bold;
}

.side-text {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
  border: solid 2px rgba(29, 185, 29, 1);
}

/* ############# end Styles for about page ####### */
/* ############# Styles for treatment page ####### */
.container, .table {
  display: flex;
  flex-direction: column;
}

.treatment-title {
  margin-top: 4%;
  font-weight: bold;
  color: rgba(221, 0, 55, 0.8);
  text-shadow: 2px 2px 2px #fff;
}

.therapy {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

.therapy-title {
  font-size: 20px;
  flex: 1;
  background-color: rgba(29, 185, 29, 0.1);
}

.eyebrows-title {
  text-align: center;
}

/* ############# end Styles for treatment page ####### */
/* ############# Styles for contact */
#contact {
  display: flex;
  text-align: center;
}

.contact-wrapper {
  background-color: rgba(192, 192, 192, .3);
  border-radius: 2%;
  margin-bottom: 3%;
  padding: 20px;
}

.font {
  color: rgba(185, 0, 101, 0.8);
  font-size: 40px;
  margin-top: 20px;
}

.contact-title {
  color: #000;
  font-size: 25px;
}

.contact-info {
  color: #000;
  font-size: 20px;
}

address a {
  text-decoration: none;
  color: #000;
}

address a:visited {
  color: #000;
  text-decoration: none;
}

/* ################ flexbox ################# */
.main-header, .main-nav, .main {
  display: flex;
  flex-direction: column;
}

.main-header {
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(29, 185, 29, 1), rgba(29, 185, 29, 0.1));
  border-bottom: 2px solid #fff;
}

.main-nav {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.main-nav li {
  margin: 12px 0 12px 28px;
}

.main-nav li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: -10px;
}

.main-header a:hover {
  color: rgba(221, 0, 55, .8);
  border-bottom: 3px solid rgba(221, 0, 55, .8);
  padding-bottom: 5px;
  transition: all .4s ease-in-out;
}

h1 {
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0 auto;
  width: 200px;
  height: 150px;
}

button {
  margin: 10px auto;
  margin-top: 10%;
}

footer {
  min-height: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(29, 185, 29, 1), rgba(29, 185, 29, 0.1));
}

.footer-text {
  padding-top: 2%;
  font-weight: bold;
}

/* #################### media query ############## */
@media all and (min-width: 769px) {
  .main-header, .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main {
    background: url('img/beautyBg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex: 1;
    margin-bottom: auto;
  }

  .main-nav li a {
    color: #000;
  }

  h1 {
    font-size: 45px;
    margin: 0 auto;
    margin-top: 20%;
  }

  h3 {
    font-size: 25px;
    margin: 0 auto;
    margin-top: 3%;
  }

  button {
    margin: 0 auto;
    margin-top: 5%;
    width: 130px;
    height: 50px;
  }

  footer {
    min-height: 70px;
    color: #000;
  }

  .footer-text {
    padding-top: 2%;
  }

  /* ######## Media Q for about ############ */
  .main-about {
    display: flex;
    flex-direction: row;
  }

  .main-about {
    width: 70%;
  }

  .side {
    width: 30%;
    margin-left: 3%;
    margin-top: 1%;
  }

  /* ############### end media q about ########## */
  /* ######## Media Q for treatment ############ */
  .main {
    display: flex;
    height: auto;
    flex: 1;
  }

  .treatment-title {
    justify-content: center;
  }

  /* ############### end media q treatment ########## */
  #contact {
    display: flex;
    justify-content: center;
  }

  .footer-text {
    padding-top: 2%;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    flex: none;
  }

  .main-about {
    width: 70%;
  }

  .side {
    width: 30%;
    margin-left: 3%;
  }
}